@import "~@angular/material/theming";

table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-selected {
  background-color: mat-color(mat-palette($mat-gray, 300));
}

.no-items {
  text-align: center;
  color: mat-color(mat-palette($mat-gray, 400));
}