<mat-toolbar color="primary" class="root">
  <div class="title">ReviewersApp</div>
  <div class="spacer"></div>
  <div class="action-buttons">
    <button mat-icon-button routerLink="/settings" routerLinkActive="active">
      <mat-icon>settings</mat-icon>
    </button>
    <div *ngIf="isAuthenticated(); else elseBlock"><button mat-button (click)="logout()">Logout</button></div>
    <ng-template #elseBlock><button mat-button routerLink="/login" routerLinkActive="active">Login</button>
    </ng-template>
  </div>
</mat-toolbar>